html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; /* Set the background color to black */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  border: 10px solid #00ff00; /* Set a thick neon green border */
}
